@{
    ViewData["Title"] = "Broker Home Page";
}

<div class="text-center">
    <h1>Broker Dashboard</h1>
    <p>Welcome @ViewData["Username"]</p>
    <p>Your BrokerID is @ViewData["BrokerID"]</p>
    <p>Your ProfileID is @ViewData["ProfileID"]</p>
    
    <!--
    <form id="createHomeForm" action="/Home/CreateNewHome" method="post">
        <button type="submit" class="btn btn-secondary">Create New Listing</button>
    </form>
    -->
    <form method="post" asp-controller="Home" asp-action="CreateNewHome">
        <button type="submit" class="btn btn-secondary">Create New Listing</button>
    </form>
    <a href="@Url.Action("BrokerListing", "Broker", new { id = ViewData["BrokerID"] })" class="btn btn-secondary">View My Listings</a>

    <a href="@Url.Action("BrokerShowing", "Broker", new { id = ViewData["BrokerID"] })" class="btn btn-secondary">View my Showing</a>
    <a href="@Url.Action("BrokerOffer", "Broker", new { id = ViewData["BrokerID"] })" class="btn btn-secondary">View my Offer</a>


    <form id="brokerLogout" action="/broker/Logout" method="post">
        <button type="submit" class="btn btn-secondary">Logout</button>
    </form>
</div>